*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    background-image:repeating-radial-gradient(rgb(184, 184, 197),rgb(54, 188, 241),rgb(153, 223, 247));
}

.headingstyle{
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    margin: auto
    
}
.myHeader{
   font-size:60px ;
   margin-bottom: 20px;
   text-decoration: underline;
   color: rgb(61, 53, 53);
   

} 
.mt30{
    margin-top: 30px;
}
.mb{
    margin-bottom:40px ;

}
.mb20{
    margin-bottom:20px ;
}

#header h2{
    font-size: 40px;


}

#header:hover{
    width: 100%;
    background-color: rgb(144, 156, 248);
    border: none;
    color: aliceblue;
    
}
#main{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding-left:5% ;
    padding-right:5% ;

}
.p40{
    padding: 40px;
    
}

.round{
    border-radius: 50px;

}

.anchor{
    display: block;
    font-size: 35px;
    text-decoration:none ;
    margin-bottom:20px ;

}
.img{
    width: 400px;
    border-radius: 20px;
}
.para{
    font-size: 25px;
    margin-top: 20px;
}

.zoom{
    transform: scale(1);
    transition: transform 0.5s;
}

.zoom:hover{
    transform: scale(1.01);
}
.border{
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 20px;

}

footer{
    background-color: rgb(173, 173, 205);
    

}

footer p{
    font-size: 30px;
    margin-top:10 ;
    margin-bottom: 10px;
    font-weight: 600;
   
}

footer:hover{
    width: 100%;
    background-color: rgb(6, 6, 6);
    color: azure;
    transform: scale(1.01);
    transition: 0.5s;
    
}















